.container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 5px;
  background-color: #281f14;
  padding: 5px;
}

.container div {
  background-color: #c6c6c5;
  color: #1e100d;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

.container div:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.container div:nth-child(2) {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}

.container div:nth-child(3) {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}

.container div:nth-child(4) {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.container div:nth-child(5) {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.container div:nth-child(6) {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}
