.container {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(78, 51, 0);
}
 
.container div {
  background-color: #f1f1f1;
  font-style: normal;
  width: 200px;
  margin: 10px;
  padding: 10px;
  text-align: center;  
  font-size: 25px;
}

